body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100vw;
    height: 100vh;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
td{
    border: 1px solid black;
    border-collapse: collapse;

    width: 75px;
    height: 75px;
}
.sprite{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 23px;
    height: 23px;
    background-color: rgb(6, 138, 190);
}
.enemy{
    position: absolute;
    top: 325px;
    left: 259px;
    width: 23px;
    height: 23px;
    background-color: rgb(221, 12, 12);
}
.face{
    position: absolute;
    left:0;
    width:5px;
    height: 5px;
    top:50%;
    background-color: black;
}
#w{
    width:100px;
    height: 100px;
    margin-left: 100px;
}
#a, #s, #d{
    width:100px;
    height: 100px;
}
#space{
    width:200px;
    height:100px;
}